<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBoardServlet</display-name>
    <servlet-name>CreateBoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.CreateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBoardServlet</servlet-name>
    <url-pattern>/CreateBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardController</display-name>
    <servlet-name>UpdateBoardController</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.UpdateBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardController</servlet-name>
    <url-pattern>/UpdateBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardPagingList</display-name>
    <servlet-name>BoardPagingList</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.BoardPagingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardPagingList</servlet-name>
    <url-pattern>/BoardPagingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostController</display-name>
    <servlet-name>PostController</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/PostController</url-pattern>
  </servlet-mapping>
</web-app>